name: RuboCop

on: [push, pull_request]

concurrency:
  group: rubocop-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ruby
        bundler-cache: true # 'bundle install' and cache
    - name: Run RuboCop
      run: bundle exec rubocop --parallel --color
