name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - head
          - '3.3'
          - '3.2'
          - '3.1'
          - '3.0'
          - '2.7'
          - '2.6'
          - jruby-9.3
          - jruby-9.4
        memcached-version: ['1.5.22', '1.6.21']

    steps:
    - uses: actions/checkout@v4
    - name: Install Memcached ${{ matrix.memcached-version }}
      working-directory: scripts
      env:
        MEMCACHED_VERSION: ${{ matrix.memcached-version }}
      run: |
        chmod +x ./install_memcached.sh
        ./install_memcached.sh
    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # 'bundle install' and cache
    - name: Run tests
      run: bundle exec rake
      env:
        RUN_SASL_TESTS: 1
